Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  cppcoreguidelines-*,
  bugprone-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
